/* TỔNG CHUNG */
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
:root{
    --primary-text-color: #1111 ;
    --primary-color1: #ffff;
}






/* HEADER */

/* END HEADER */



/* FOOTER */

/* ...CODE */


/* END FOOTER */