*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, sans-serif;
}
.nav{
    width: 1200px;
    height: 1000px;
}
.h-nav{
    padding-left: 50px;
    width:100% ;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    gap: 30px;
}
.logo img{
    object-fit: contain;
    width: 100px;
    bottom: 100px;
}
.logo h1{
    height:140px ;
    line-height: 140px;
}
.help {
    
    padding-right: 100px;
}
.banner-user{
    width: 100%;

}
.banner-user img{
    position: relative;
    width: 1200px;
    height: 600px;
    object-fit: cover;
   
}
.user{
    text-align: center;
    background-color: white;
    position: absolute;
    width: 400px;
    height: 300px;
    bottom:3% ;
    left: 60%;
    border-radius: 3px;
}
.user h4{
    padding-top: 20px;
}
.q-password{
    
   padding: 13px;
}
.q-password a{
    color: blue;
    font-size: 15px;
    text-decoration: none;
   padding: 50px;
}
.f-user{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.f-user h5{
    opacity: 0.5;
}
.f-user label{
    color: #0ad0e6;
}
button{
    width: 167px;
    height: 30px;
    background-color: #0ad0e6;
    color: white;
    border: none;
}
form input{
    width: 167px;
    height: 18px;
    margin: 10px;
}
