    .u-avt img{
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-left: 20px; 
        border: 0.5px solid black;
        object-fit: cover;
    }
    .u-name span{
        display: block;
        padding-top: 8px;
    }
    .u-name span,
    .u-settiing{
        padding-left: 15px;
    }
    .fuc a:hover{
        color: red;
    }
    .u-settiing a{
        text-decoration: none;
        color: darkgrey;
    }
    .u-settiing i{
        padding-right: 5px;
    }
    .u-profile{
        padding-top: 25px;
    }
    .fuc{
        display: grid;
        padding: 50px 0 0 20px;
    }
    .u-form-user ,
    .u-profile,
    .user{
        display: flex;
        padding-bottom: 20px;
    }
    .user{
        background-color: #f6f6f6;
        justify-content: center;
        gap: 50px;
    }
    .user,
    .u-fuc{
        padding-top: 20px;
    }
    .u-fuc i{
        padding-right: 10px;
    }
    .fuc a{
        text-decoration: none;
        color: black;
    }
    .fuc .ti-shopping-cart{
        color: orange;
    }
    .fuc .ti-shopping-cart{
        color: orange;
    }
    .fuc .ti-clipboard{
        color: blue;
    }
    .fuc .ti-shift-right,
    .fuc .ti-announcement{
        color: red;
    }
    .fuc .ti-receipt{
        color: chocolate;
    }
    .u-prof{
        padding: 20px;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 0.5rem ;

    }
    .u-ip-info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 27px;
        column-gap: 100px;
    }
    .u-ip-info label{
        display: block;
        padding-top: 10px;
    }
    .u-form-user {
        flex-direction: column;
        width: 100%;
    }
    .u-form-user button{
        margin-top: 30px;
        background-color: black;
        color: white;
        padding: 10px;
        border: none;
        cursor: pointer;
        width: 100%;
    }
    .u-ip-info input{
        width: 100%;
        border: 0.5px solid #DBDBDB;
        border-radius: 0.2rem;

    }
    .div span{
        width: 100%;
    }
    .u-ip-info input:hover{
        border: 0.5px solid rgb(11, 187, 11);
    }
    .u-ip-info input:focus{
        outline: 0.1px solid rgb(11, 187, 11);

    }
    .u-ip-info .describe{
        width: 100%;
        padding-bottom: 60px;
    }
    .info-user{
        padding-bottom: 10px;
    }

    .div span{
        font-size: 0.8rem;
        color: red;
    }
    .div input::placeholder{
        font-size: 0.9rem;
        padding-left: 0.5rem;
    }
    .div p{
        font-size: 12px;
    }
    .div{
        transition: 1s all;
    }