div,label{margin:0;padding:0;}
body{margin:20px;}
h1{font-size:1.5em;margin:10px;}
/****** Style Star Rating Widget *****/
#rating{border:none;float:left;}
#rating>input{display:none;}/*ẩn input radio - vì chúng ta đã có label là GUI*/
#rating>label:before{margin:5px;font-size:1.25em;font-family:FontAwesome;display:inline-block;content:"\f005";}/*1 ngôi sao*/
#rating>.half:before{content:"\f089";position:absolute;}/*0.5 ngôi sao*/
#rating>label{color:#ddd;float:right;}/*float:right để lật ngược các ngôi sao lại đúng theo thứ tự trong thực tế*/
/*thêm màu cho sao đã chọn và các ngôi sao phía trước*/
#rating>input:checked~label,
#rating:not(:checked)>label:hover, 
#rating:not(:checked)>label:hover~label{color:#FFD700;}
/* Hover vào các sao phía trước ngôi sao đã chọn*/
#rating>input:checked+label:hover,
#rating>input:checked~label:hover,
#rating>label:hover~input:checked~label,
#rating>input:checked~label:hover~label{color:#FFED85;}
#p-menu{
    width: 100%;
    height: 3rem;
}
.p-navrow{
   display: flex;
   gap: 3rem;
   width: 100%;
   height: 100%;
   line-height: 3rem;
   font-size: 16px;
}
.p-navrow li{
   list-style: none;
   transition: 0.5s all;
   height: 70%;
   width: auto;
   line-height: 3rem;
}
.p-navrow li a{
    text-decoration: none;
    color: #666666;
    
}
.p-navrow li:hover{
    border-bottom: 2px solid #1111;
}
/* bảng sản phẩm  */

.d_left{
    width: 100%;
    height: auto;
    background-color: #ffff;
    display: flex;
    gap: 1rem;
   
    
}
.d_left_box1{
    width: 10%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.box1_item{
    width: 100%;
    height: auto;
}
.box1_item img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
}

.d_left_box2{
    width: 75%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 2s all;
    position: relative;
}
.left_box2_conatiner{
    display: flex;
    width: 100%;
    height: 100%;
    transition: 1s all;

}
.left_box2_conatiner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}
.d_left_box2_btn{
    position: absolute;
    right: 1.5rem;
    bottom: 1rem;
    display: flex;
    gap: 0.7rem;
    
}
.d_left_box2_btn button{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid #ffff;
}

.d_right{
    width: 100%;
    height: 110vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
   
}
.d_right::-webkit-scrollbar{
    width: 5px;
}
.d_right_color{
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    flex-wrap: wrap;
}
.color_item{
    background-color: #F6F6F6;
    width: 70px;
    height: 70px;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 0.2rem;
    
}

.color_item span{
    font-size: 12px;
    color: black;
    font-weight: bold;
    
}
.color_item:hover{
    border: 1px solid black;
}

.color_item {
    transition: opacity 0.3s ease; /* Hiệu ứng chuyển động */
    opacity: 0.5; /* Mức độ mờ mặc định */
}

.color_item.clicked {
    opacity: 1;
    border: 0.5px solid black; /* Trở lại bình thường khi được click */
}





.selectcolor{
    font-size: 18px;
    color: black;
    font-weight: 400;

}
.d_size{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}
.size_item{
    border: 1px solid #E5E5E5;
    width: 122px;
    height: 48px;
    text-decoration: none;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
}
.size_item:hover{
    border: 1px solid black;
    transition: 1s all;
}
.size_item:focus{
    border: 1px solid black;
}


.d_option{
    width: 71%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding-top: 13px;
}
.d_option a, 
.d_option button{
    width: 100%;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.d_quantity{
    width: 70%;
    display: flex;

}
.d_quantity button{
    width: 25%;
    height: 3rem;
    border: 1px solid #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
}







.d_quantity button span{
    font-size: 28px;
    color: #111111;
    
}
.d_quantity input{
    width: 20%;
    height: 3rem;
    border: 1px solid #E5E5E5;
    
}
.d_quantity input[type="number"]{
   padding-left: 2rem;
   font-size: 20px;
}
.d_desc{
    width: 71%;
    height: auto;
    
}
.d_desc span{
    font-size: 18px;
    color: black;
    font-weight: 400;
}
.d_product-list{
    width: 100%;
    height: 509px;
    overflow-x: scroll;
}
.d_product-list::-webkit-scrollbar{
    width: 5px;
}
.d_product-list-item{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    gap: 1rem;
   
}
.list-item{
    width: 413px;
    height: 100%;
    text-decoration: none;
    color: black;
}
.list-item img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.fb-filter{
    display: flex;
    margin: 0 auto;
    max-height: max-content;
    padding: 20px 0 0 30px;
}
.fb-star .fb-total-star{
    font-size: 25px;
    padding: 0 30px;
}
.fb-star .fa-solid{
    font-size: 20px; 
    color: #FFD700;  
}
.fb-ql-star{
    padding-left: 35px;
}
.fb-filter-star{
    display: flex;
}
.fb-item-filter-star{
    margin: 7px 30px;
    justify-content: center;
}
.fb-item-filter-star{
    border: 1px solid rgb(167, 167, 167);
    padding: 5px 10px;
    height: max-content;
    cursor: pointer;
    border-radius: 5px;
}
.title{
    font-size: 25px;
}
.fb-user img{
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 20px; 
    object-fit: cover;
}
.fb-user{
    display: flex;
    padding: 30px 30px;
    border-bottom: 1px solid rgb(220, 220, 220);
}
.fb-name{
    padding-left: 5px;
    padding-top: 10px;
}
.fb-content{
    padding-left: 20px;
}
.fb-date{
    padding-left: 5px;
    color: darkgrey;
}
.fb-content-user{
    padding: 10px 0px 0px 5px;
}